.badge {
  display: flex;
  width: max-content;
  padding: 0.12rem 0.61rem;
  border-radius: 100px;

  &--green {
    @apply bg-green/10 text-green;
  }

  &--gray {
    @apply bg-gray-7 text-black-2;
  }

  &--blue {
    @apply bg-blue/10 text-blue;
  }

  &--red {
    @apply bg-red/10 text-red;
  }
}
