.appello-badge {
  display: flex;
  width: max-content;
  align-items: center;
  padding: 0.12rem 0.61rem;
  border-radius: 100px;

  &--green {
    background-color: hsl(var(--green-color) / 10%);
    color: hsl(var(--green-color));
  }

  &--gray {
    background-color: hsl(var(--gray-7-color));
    color: hsl(var(--black-2-color));
  }

  &--blue {
    background-color: hsl(var(--blue-color) / 10%);
    color: hsl(var(--blue-color));
  }

  &--red {
    background-color: hsl(var(--red-color) / 10%);
    color: hsl(var(--red-color));
  }

  &--orange {
    background-color: hsl(var(--orange-color) / 10%);
    color: hsl(var(--orange-color));
  }

  &--filled.appello-badge--green {
    background-color: hsl(var(--green-color));
    color: hsl(var(--white-color));
  }

  &--filled.appello-badge--gray {
    background-color: hsl(var(--gray-1-color));
    color: hsl(var(--white-color));
  }

  &--filled.appello-badge--blue {
    background-color: hsl(var(--blue-color));
    color: hsl(var(--white-color));
  }

  &--filled.appello-badge--red {
    background-color: hsl(var(--red-color));
    color: hsl(var(--white-color));
  }

  &--filled.appello-badge--orange {
    background-color: hsl(var(--orange-color));
    color: hsl(var(--white-color));
  }

  &__text {
    font-size: var(--p5-font-size);
    line-height: var(--p5-line-height);
    font-weight: 700;
  }

  &__icon {
    margin-right: 0.25rem;
  }
}
