.badge {
  display: flex;
  width: max-content;
  padding: 0.12rem 0.61rem;
  border-radius: 100px;

  &--green {
    background-color: hsl(var(--green-color) / 10%);
    color: hsl(var(--green-color));
  }

  &--gray {
    background-color: hsl(var(--gray-7-color) / 10%);
    color: hsl(var(--black-2-color));
  }

  &--blue {
    background-color: hsl(var(--blue-color) / 10%);
    color: hsl(var(--blue-color));
  }

  &--red {
    background-color: hsl(var(--red-color) / 10%);
    color: hsl(var(--red-color));
  }

  &__text {
    font-size: var(--p5-font-size);
    line-height: var(--p5-line-height);
    font-weight: 700;
  }
}
