.color-picker-field {

  &__input-wrapper {
    position: relative;
  }

  &__picker {
    position: absolute;
    top: 100%;
    margin-top: 7px;
    width: 300px;
  }

  &__picker-inner {
    width: auto;
  }

  &__color {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 0.25rem;
  }
}
