.modal-overlay {
  background-color: hsl(var(--black-1-color) / 60%);
  z-index: 999;
  overflow-y: auto;
  display: flex;
  position: fixed;
  inset: 0;
}

.modal {
  --content-padding-x: 30px;
  --content-padding-y: 25px;

  position: relative;
  height: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: 35%;
  overflow: hidden;

  $modal: &;

  &--center {
    margin: auto;
    border-radius: 8px;
    padding: var(--content-padding-y) var(--content-padding-x);

    #{$modal}__close-btn {
      top: 0.625rem;
      right: 0.625rem;
      position: absolute;
    }

    #{$modal}__header {
      margin-bottom: 0.625rem;
      font-size: var(--h4-font-size);
      line-height: var(--h4-line-height);
      font-weight: 700;
    }

    #{$modal}__buttons-list {
      border-top: 1px solid hsl(var(--gray-6-color));
      padding-top: var(--content-padding-y);
      margin-top: var(--content-padding-y);
      display: flex;
      justify-content: flex-end;
      margin-inline: calc(var(--content-padding-x) * -1);
      padding-inline: var(--content-padding-x);
    }
  }

  &--right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    height: 100vh;

    #{$modal}__close-btn {
      top: 1.25rem;
      left: 1.25rem;
      border-radius: 0.25rem;
      background-color: hsl(var(--gray-7-color));
      padding: 0.5rem;
      position: absolute;
      border: 1px solid hsl(var(--gray-6-color));
    }

    #{$modal}__header {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--p3-font-size);
      line-height: var(--p3-line-height);
      font-weight: 600;
      min-height: 5rem;
      border-bottom: 1px solid hsl(var(--gray-6-color));
    }

    #{$modal}__buttons-list {
      padding-inline: 1.25rem;
      padding-bottom: 1.25rem;
      display: flex;
      justify-content: flex-end;
    }

    #{$modal}__content {
      overflow: auto;
      padding: 1.25rem;
    }
  }

  &__button {
    width: auto;
    padding: 0 2.5rem;
  }
}

.react-modal-opened {
  overflow: hidden;
}
