.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: hsl(var(--gray-7-color));
  color: hsl(var(--accent-color));

  &__icon {
    width: 1.68rem;
    height: 1.68rem;
  }
}
