.container {
  user-select: none;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.square {
  @apply flex-center;

  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 1px solid hsl(var(--gray-4-color));
  background-color: hsl(var(--white-color));

  transition: background-color 0.2s, border-color 0.2s;

  &__icon {
    color: hsl(var(--white-color));
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s, transform 0.2s;
  }
}

.input {
  opacity: 0;
  display: none;

  &:checked ~ .square {
    background-color: hsl(var(--green-color));
    border: 1px solid hsl(var(--green-color));
  }

  &:checked ~ .square .square__icon {
    opacity: 1;
    transform: scale(1);
  }
}
