.container {
  position: relative;
  height: fit-content;
  overflow: hidden;
  width: 500px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: 25px 30px;
}

.overlay {
  @apply bg-black-1/60;
  z-index: 2;
  overflow-y: auto;
  display: flex;
  position: fixed;
  inset: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.buttons-list {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 16px;
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.button {
  width: auto;
  padding: 0 40px;
}
