.modal-overlay {
  @apply bg-black-1/60;
  z-index: 999;
  overflow-y: auto;
  display: flex;
  position: fixed;
  inset: 0;
}

.modal {
  --content-padding-x: 30px;
  --content-padding-y: 25px;

  position: relative;
  height: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: 35%;
  overflow: hidden;

  $modal: &;

  &--center {
    margin: auto;
    border-radius: 8px;
    padding: var(--content-padding-y) var(--content-padding-x);

    #{$modal}__close-btn {
      @apply absolute top-2.5 right-2.5;
      position: absolute;
    }

    #{$modal}__header {
      @apply mb-2.5 text-h4;
    }

    #{$modal}__buttons-list {
      border-top: 1px solid hsl(var(--gray-6-color));
      padding-top: var(--content-padding-y);
      margin-top: var(--content-padding-y);
      display: flex;
      justify-content: flex-end;
      margin-inline: calc(var(--content-padding-x) * -1);
      padding-inline: var(--content-padding-x);
    }
  }

  &--right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    height: 100vh;

    #{$modal}__close-btn {
      @apply top-5 left-5 rounded bg-gray-7 p-2;
      position: absolute;
      border: 1px solid hsl(var(--gray-6-color));
    }

    #{$modal}__header {
      @apply flex items-center justify-center text-p3 font-semibold;
      min-height: 5rem;
      border-bottom: 1px solid hsl(var(--gray-6-color));
    }

    #{$modal}__buttons-list {
      @apply px-5 pb-5;
      display: flex;
      justify-content: flex-end;
    }

    #{$modal}__content {
      @apply overflow-auto p-5;
    }
  }

  &__button {
    width: auto;
    padding: 0 2.5rem;
  }
}

.react-modal-opened {
  overflow: hidden;
}
