.pagination {
  --pagination-item-height: 1.74rem;

  display: flex;
  column-gap: 0.24rem;
  margin-top: 1rem;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--p5-font-size);
    line-height: var(--p5-line-height);
    width: 1.36rem;
    height: var(--pagination-item-height);
    border-radius: 0.18rem;

    &--active {
      background-color: hsl(var(--accent-color));
      color: hsl(var(--white-color));
    }

    &--disabled {
      color: hsl(var(--gray-2-color));
    }

    &:hover:not(&--active) {
      background-color: hsl(var(--gray-6-color));
    }
  }

  &__link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: var(--pagination-item-height);
    width: 100%;
    text-align: center;

    &--nav {
      display: flex;
      justify-content: center;
      user-select: none;
    }
  }

  &__caption {
    margin-top: 0.75rem;
    font-size: var(--p6-font-size);
    line-height: var(--p6-line-height);
    color: hsl(var(--gray-2-color));
  }

  &__nav-icon--next {
    display: inline;
    transform: rotate(-90deg);
  }

  &__nav-icon--prev {
    display: inline;
    transform: rotate(90deg);
  }
}
