.search-input {
  --text-input-x-padding: 1.18rem;
  --icon-size: 1.24rem;

  position: relative;

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: var(--icon-size);
    height: var(--icon-size);
    left: var(--text-input-x-padding);
    pointer-events: none;
    color: hsl(var(--gray-3-color));
  }

  &__input {
    padding-left: calc(var(--text-input-x-padding) + var(--icon-size) + 0.61rem);
  }
}
