.dropdown {
  position: relative;

  &__root-menu {
    position: absolute;
    right: 0;
    margin-block: 0.43rem;
    z-index: 10;
  }

  &__menu {
    @apply dropdown-common__menu;
  }

  &__submenu {
    position: absolute;
    right: 100%;
    display: none;
    top: 0;
    width: 9.93rem;
  }

  &__option {
    @apply dropdown-common__option;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    &--with-menu:hover .dropdown__submenu {
      display: block;
    }

    &:not(&--disabled):hover {
      @apply dropdown-common__option-hover;
    }

    &--disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }

  &__option-icon {
    margin-right: 0.49rem;
  }

  &__option-label {
    @apply dropdown-common__option-label;
  }
}
