.badge {
  display: flex;
  width: max-content;
  padding: 0.12rem 0.61rem;
  border-radius: 100px;

  &--green {
    @apply text-green bg-green/10;
  }

  &--gray {
    @apply text-black-2 bg-gray-7;
  }

  &--blue {
    @apply text-blue bg-blue/10;
  }

  &--red {
    @apply text-red bg-red/10;
  }
}
