.tabs {
  &__head {
    position: relative;
  }

  &__head-list {
    border-bottom: 1px solid hsl(var(--gray-6-color));
    display: flex;
  }

  &__head-item {
  }

  &__head-line {
    position: absolute;
    bottom: 1px;
    height: 2px;
    background-color: hsl(var(--accent-color));
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease, width 0.3s ease;
    border-radius: 2px 2px 0 0;
  }

  &__head-button {
    font-size: var(--p5-font-size);
    line-height: var(--p5-line-height);
    font-weight: 600;
    color: hsl(var(--gray-1-color));
    padding-inline: 1rem;
    padding-block: 0.5rem 1rem;

    &--active {
      color: hsl(var(--accent-color));
    }
    &--with-right-component {
      display: flex;
      align-items: center;
    }
  }

  &__body {
  }
}
