@import '../src/styles/index.scss';

body {
  font-size: var(--p1-font-size);
  color: hsl(var(--black-1-color));
}

.text-accent {
  color: hsl(var(--accent-color));
}

.button-custom {
  color: chocolate;
}

.loader-custom {
  background-color: cornflowerblue;
}
