.table-wrapper {
  position: relative;
}

.table-error {
  margin-bottom: 0.5rem;
}

.table {
  width: 100%;
  border-style: hidden;
}

.head {
  border-bottom-style: hidden;
}

.head-cell {
  background-color: hsl(var(--gray-7-color));
  font-size: var(--c1-font-size);
  line-height: var(--c1-line-height);
  color: hsl(var(--gray-1-color));
  padding: 0.49rem 0.87rem;
  text-align: left;
  font-weight: 400;

  &:first-child {
    border-top-left-radius: 0.49rem;
  }

  &:last-child {
    border-top-right-radius: 0.49rem;
  }

  &__body {
    display: flex;
    user-select: none;
    align-items: center;
  }

  &__sort {
    margin-left: 0.5rem;
    display: inline-flex;
    flex-direction: column;
  }

  &__sort-icon {
    transition: color 0.2s ease-in-out;
    color: hsl(var(--gray-3-color));

    &:first-child {
      margin-bottom: 1px;
      transform: rotate(180deg);
    }

    &--active {
      color: hsl(var(--gray-1-color));
    }
  }
}

.table-overlay {
  position: absolute;
  inset: 0;
  background-color: hsl(var(--white-color) / 50%);
}

.cell {
  font-size: var(--c1-font-size);
  line-height: var(--c1-line-height);
  border: 1px solid hsl(var(--gray-6-color));
  padding: 0.93rem;
  vertical-align: middle;
}
