.table-wrapper {
  position: relative;
}

.table {
  width: 100%;
  border-style: hidden;
}

.head {
  border-bottom-style: hidden;
}

.head-cell {
  background-color: hsl(var(--gray-7-color));
  font-size: var(--c1-font-size);
  line-height: var(--c1-line-height);
  color: hsl(var(--gray-1-color));
  padding: 0.49rem 0.87rem;
  text-align: left;
  font-weight: 400;

  &:first-child {
    border-top-left-radius: 0.49rem;
  }

  &:last-child {
    border-top-right-radius: 0.49rem;
  }
}

.cell {
  font-size: var(--c1-font-size);
  line-height: var(--c1-line-height);
  border: 1px solid hsl(var(--gray-6-color));
  padding: 0.93rem;
  vertical-align: middle;
}

.pagination {
  --pagination-item-height: 1.74rem;

  display: flex;
  column-gap: 0.24rem;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--c1-font-size);
    line-height: var(--c1-line-height);
    width: 1.36rem;
    height: var(--pagination-item-height);
    border-radius: 0.18rem;

    &--active {
      background-color: hsl(var(--accent-color));
      color: hsl(var(--white-color));
    }

    &--disabled {
      color: hsl(var(--gray-2-color));
    }

    &:hover:not(&--active) {
      background-color: hsl(var(--gray-6-color));
    }
  }

  &__link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: var(--pagination-item-height);
    width: 100%;
    text-align: center;

    &--nav {
      display: flex;
      justify-content: center;
    }
  }
}
