.container:global(.rdp) {
  @apply bg-white border border-solid border-gray-5 shadow-4;
  margin: 0;
  border-radius: 0.5rem;
  padding: 1rem;
  z-index: 999;

  --rdp-cell-size: 30px;
  --rdp-accent-color: hsl(var(--accent-color));
  --rdp-background-color: hsl(var(--accent-color) / 0.1);
}

.container {
  :global {
    .rdp-caption_label {
      @apply text-p3 font-semibold;
    }

    .rdp-nav_button {
      border-radius: 8px;

      > svg {
        width: 12px;
        height: 12px;
      }
    }

    .rdp-head_cell {
      @apply text-p4 font-normal;
      text-transform: none;
      height: 38px;
    }

    .rdp-day {
      @apply text-c1 font-semibold text-gray-1;
      border-radius: 8px;
      margin: 1px;

      &--today {
        @apply text-accent;
      }

      &--weekend {
        @apply text-red;
      }

      &_selected {
        @apply text-white;
      }
    }
  }
}
