.react-select {
  position: relative;

  &--size-medium .react-select__control {
    min-height: var(--input-medium-height);
  }

  &--size-large .react-select__control {
    min-height: var(--input-large-height);
  }

  &--error .react-select__control {
    border-color: hsl(var(--red-color));
  }

  &__menu-portal {
    z-index: 999 !important;
  }

  &__menu-list {
    max-height: 300px;
    overflow-y: auto;
  }

  &__dropdown-indicator {
    svg {
      @apply h-full w-full;
    }
  }

  &__indicators {
    @apply flex flex-row items-center;

    .react-select__clear-indicator {
      @apply mr-1;
    }
  }

  &__control {
    @apply bg-white text-p4;
    padding-inline: 1.18rem;
    border: 1px solid hsl(var(--gray-5-color));
    border-radius: 0.37rem;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: background-color 0.2s, border-color 0.2s;
  }

  &__input-container {
    height: 0;
  }

  &__control--is-focused &__input-container {
    height: auto;
  }

  &__value-container {
    flex: 1;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    &--is-multi {
      padding-block: 0.5rem;
    }
  }

  &__menu {
    @apply dropdown-common__menu;
    position: absolute;
    width: 100%;
    margin-top: 0.43rem;
  }

  &__option {
    @apply dropdown-common__option dropdown-common__option-label;

    &--is-selected {
      @apply bg-accent text-white;
    }

    &:not(&--is-selected):hover {
      @apply dropdown-common__option-hover;
    }
  }

  &__single-value {
    position: absolute;
  }

  &--single-value {
    @apply absolute-y-center truncate;
    max-width: calc(100% - 8px);
  }

  &__multi-value {
    @apply bg-gray-7;
    display: flex;
    border-radius: 2px;
    margin: 2px;
    overflow: hidden;

    &__label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 3px 3px 3px 6px;
    }

    &__remove {
      align-items: center;
      display: flex;
      padding-left: 4px;
      padding-right: 4px;
      transition: background-color 0.2s ease-in-out, opacity 0.1s;

      &:hover {
        @apply bg-gray-6;
      }
    }
  }

  &__menu-notice {
    &--no-options {
      @apply text-c1 font-semibold;
      text-align: center;
      padding: 0.46rem 0;
    }
  }

  &__placeholder {
    @apply text-gray-3;
    position: absolute;
  }

  &__indicator {
    display: flex;
    width: 0.93rem;
    height: 0.93rem;
  }
}
