@use 'sass:math';

@import './form.scss';

@function pxToRem($value) {
  $remValue: math.div($value, 16) + rem;
  @return $remValue;
}

:root {
  --input-medium-height: 2.62rem;
  --input-large-height: 3.37rem;
}

@layer components {
  .dropdown-common {
    &__menu {
      @apply rounded-md border border-solid border-gray-5 bg-white py-1 shadow-4;
    }

    &__option {
      padding: pxToRem(12) pxToRem(15);
      cursor: pointer;
      word-break: break-word;
    }

    &__option-hover {
      @apply bg-gray-6;
    }

    &__option-label {
      @apply text-c1 font-semibold;
    }
  }
}
