.map-container {
  width: 100%;
  height: 226px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 16px;
}

.location-select {
  position: relative;

  &--error :global(.react-select__control) {
    border-color: var(--error-color) !important;
  }

  :global {
    .react-select {
      &__menu-portal {
        z-index: 999 !important;
      }

      &__menu-list {
        max-height: 300px;
        overflow-y: auto;
      }

      &__control {
        background-color: #fff;
        border: 0.5px solid var(--border-color);
        border-radius: 6px;
        height: 46px;
        color: var(--primary-text-color);
        padding: 10px 15px;
        width: 100%;
        transition: background-color 0.2s, border-color 0.2s;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--menu-is-open {
          box-shadow: var(--primary-shadow);
        }
      }

      &__menu-notice {
        display: flex;
        justify-content: center;
        margin: 5px 0;
      }

      &__placeholder {
        color: var(--secondary-text-color);
        margin-left: 2px;
        margin-right: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &__value-container {
        flex: 1;
        overflow: hidden;
        align-items: center;
        display: flex;
      }

      &__menu {
        top: 100%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 4px;
        margin: 7px 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        border: 0.5px solid var(--border-color);
        padding: 4px 0;
      }

      &__option {
        padding: 14px 20px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;

        &--is-selected {
          background-color: var(--background-color);
        }

        &:not(&--is-selected):hover {
          background-color: var(--background-color);
        }
      }

      &--single-value {
        max-width: calc(100% - 8px);
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
        top: 50%;
        transform: translateY(-50%);
      }

      &__value-container {
        position: relative;
      }

      &__single-value {
        max-width: 100%;
        width: 100%;
        line-height: 16px;
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__loader {
    margin-left: 10px;
  }
}

.clear-value-button {
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
